@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
*, *:before, *:after {
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  /* background-color: rgb(16, 171, 16); */
}
.grid-container{
  display: flex;
  flex-wrap: wrap;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0
}